<template name="recoverPassword">
  <div class="row animated fadeIn">
    <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
      <div class="card card-top-buffer">
        <div class="card-header">
          <div class="card-title">
            <div class="title pull-left">Recuperar contraseña</div>
            <div class="authentication-logo pull-right" title="SINARED"></div>
          </div>
        </div>
        <div class="card-body">
          <form id="recover-password" class="recover-password">
            <p class="alert alert-warning">Ingrese su correo electrónico para recibir el enlace de cambio de contraseña</p>
            <div class="form-group">
              <label for="emailAddress">Correo electrónico</label>
              <input type="email" name="emailAddress" class="form-control" placeholder="Correo electrónico">
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-success" value="Recuperar contraseña">
              <a class="pull-right login-top-buffer" href="{{pathFor 'login'}}">Iniciar sesión</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
