<template name="nuevaRed">
  {{#if Template.subscriptionsReady}}
    {{> modalCialco}}
    {{> modalOrganizacion}}
    <div class="row animated fadeIn">
      <div class="col-xs-12">
        <div class="card card-top-buffer">
          <div class="card-body">
            {{#autoForm collection='CialcoIntegrantes' id='insertCialcoIntegrantesForm' type='insert'}}
              <div class="row">
                <div class="col-md-12">{{> afQuickField name='cialcoId'}}</div>
                <div class="col-md-6">{{> afQuickField name='productorCedula'}}</div>
                <div class="col-md-6">{{> afQuickField name='representanteCialco'}}</div>
                <div class="col-md-12">{{> afQuickField name='organizacionId'}}</div>
              </div>
              <button type='submit' class='btn btn-success'>GUARDAR</button>
            {{/autoForm}}
          </div>
        </div>
      </div>
    </div>
  {{else}}
    {{> spinner}}
  {{/if}}
</template>
