<template name="redes">
  {{#if Template.subscriptionsReady}}
    {{> modalCialco}}
    {{> modalProductor}}
    {{> modalOrganizacion}}
    <div class="row animated fadeIn">
      <div class="col-xs-12">
        <div class="card card-top-buffer">
          <div class="card-body">
            {{#autoForm collection='CialcoIntegrantes' id='insertCialcoIntegrantesForm' type='insert'}}
              <div class="input-group select2-bootstrap-append">
                {{> afQuickField name='cialcoId'}}
                <span class="input-group-btn s2m-add">
                    <button class="btn btn-default" type="button" data-toggle="modal" data-target="#nuevo-cialco">
                      <span class="fa fa-plus"></span>
                    </button>
                  </span>
              </div>
              <div class="input-group select2-bootstrap-append">
                {{> afQuickField name='productorCedula'}}
                <span class="input-group-btn s2m-add">
                    <button class="btn btn-default" type="button" data-toggle="modal" data-target="#nuevo-productor">
                      <span class="fa fa-plus"></span>
                    </button>
                  </span>
              </div>
              {{> afQuickField name='representanteCialco'}}
              <div class="input-group select2-bootstrap-append">
                {{> afQuickField name='organizacionId'}}
                <span class="input-group-btn s2m-add">
                    <button class="btn btn-default" type="button" data-toggle="modal" data-target="#nueva-organizacion">
                      <span class="fa fa-plus"></span>
                    </button>
                  </span>
              </div>
              <button type='submit' class='btn btn-success btn-bottom-buffer'>GUARDAR</button>
            {{/autoForm}}
            {{> tabular table=TabularTables.CialcoIntegrantes class="table table-striped table-bordered table-condensed"}}
          </div>
        </div>
      </div>
    </div>
  {{else}}
    {{> spinner}}
  {{/if}}
</template>
