<template name="nuevaOrganizacion">
  {{#if Template.subscriptionsReady}}
    <div class="row animated fadeIn">
      <div class="col-xs-12">
        <div class="card card-top-buffer">
          <div class="card-body">
            {{#autoForm collection='Organizaciones' id='insertOrganizacionForm' type='insert'}}
              <fieldset class="custom-fieldset">
                <legend class="custom-legend">Datos generales</legend>
                <div class="row">
                  <div class="col-sm-6 col-md-4">{{> afQuickField name='fechaLevantamientoDatos' datePickerOptions=datePickerDefaultOptions}}</div>
                  <div class="col-sm-6 col-md-8">{{> afQuickField name='nombreLevantadorDatos'}}</div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-md-4">{{> afQuickField name='hombresOrganizacion'}}</div>
                  <div class="col-sm-6 col-md-4">{{> afQuickField name='mujeresOrganizacion'}}</div>
                </div>
              </fieldset>
              <fieldset class="custom-fieldset">
                <legend class="custom-legend">Datos de contacto de la organización</legend>
                <div class="row">
                  <div class="col-sm-6 col-md-4">{{> afQuickField name='ruc'}}</div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-md-4">{{> afQuickField name='acreditacionMagap'}}</div>
                  <div class="col-sm-6 col-md-4">{{> afQuickField name='fechaAcreditacionMagap' datePickerOptions=datePickerDefaultOptions}}</div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-md-4">{{> afQuickField name='registroSeps'}}</div>
                  <div class="col-sm-6 col-md-4">{{> afQuickField name='fechaRegistroSEPS' datePickerOptions=datePickerDefaultOptions}}</div>
                </div>
                {{> afQuickField name='nombreOrganizacion'}}
                {{> afQuickField name='actividadEconomica'}}
                <div class="row">
                  <div class="col-md-3">{{> afQuickField name='cedulaRepresentante' id='orgCedulaRepresentante'}}</div>
                  <div class="col-md-9">{{> afQuickField name='nombreRepresentante' id='orgNombreRepresentante'}}</div>
                </div>
                {{> afQuickField name='direccion'}}
                <div class="row">
                  <div class="col-sm-6 col-md-3">{{> afQuickField name='telefonoFijoRepresentante'}}</div>
                  <div class="col-sm-6 col-md-3">{{> afQuickField name='telefonoFijo2'}}</div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-md-3">{{> afQuickField name='celularRepresentante'}}</div>
                  <div class="col-sm-6 col-md-3">{{> afQuickField name='celular2'}}</div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-md-3">{{> afQuickField name='emailRepresentante'}}</div>
                  <div class="col-sm-6 col-md-3">{{> afQuickField name='paginaWeb'}}</div>
                  <div class="col-sm-6 col-md-3">{{> afQuickField name='facebook'}}</div>
                  <div class="col-sm-6 col-md-3">{{> afQuickField name='twitter'}}</div>
                </div>
              </fieldset>
              {{> ubicacion}}
              <fieldset class="custom-fieldset">
                <legend class="custom-legend">CIALCOs en los que participa</legend>
                {{> afQuickField name='cialcosParticipa'}}
              </fieldset>
              {{> afQuickField name='productoresCialco'}}
              {{> afQuickField name='observaciones'}}
              <button type='submit' class='btn btn-success'>GUARDAR</button>
            {{/autoForm}}
          </div>
        </div>
      </div>
    </div>
  {{else}}
    {{> spinner}}
  {{/if}}
</template>
