<template name="equipamiento">
  <fieldset class="custom-fieldset">
    <legend class="custom-legend">Equipamiento con el que cuenta el CIALCO</legend>
    <div class="row col-md-6 pull-left">
      <table class="table table-striped table-condensed cialco-item-estado">
        <thead>
        <tr>
          <th class="col-sm-2 col-md-2">Categoría</th>
          <th class="col-sm-1 col-md-1">Cantidad</th>
          <th class="col-sm-3 col-md-3">Estado</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Carpas</td>
          <td>{{> afQuickField name='equipamiento.carpasCantidad'}}</td>
          <td>{{> afQuickField name='equipamiento.carpasEstado'}}</td>
        </tr>
        <tr>
          <td>Mesas</td>
          <td>{{> afQuickField name='equipamiento.mesasCantidad'}}</td>
          <td>{{> afQuickField name='equipamiento.mesasEstado'}}</td>
        </tr>
        <tr>
          <td>Estanterías</td>
          <td>{{> afQuickField name='equipamiento.estanteriasCantidad'}}</td>
          <td>{{> afQuickField name='equipamiento.estanteriasEstado'}}</td>
        </tr>
        <tr>
          <td>Sillas</td>
          <td>{{> afQuickField name='equipamiento.sillasCantidad'}}</td>
          <td>{{> afQuickField name='equipamiento.sillasEstado'}}</td>
        </tr>
        <tr>
          <td>Balanzas</td>
          <td>{{> afQuickField name='equipamiento.balanzasCantidad'}}</td>
          <td>{{> afQuickField name='equipamiento.balanzasEstado'}}</td>
        </tr>
        <tr>
          <td>Frigorífico</td>
          <td>{{> afQuickField name='equipamiento.frigorificoCantidad'}}</td>
          <td>{{> afQuickField name='equipamiento.frigorificoEstado'}}</td>
        </tr>
        <tr>
          <td>Parlantes</td>
          <td>{{> afQuickField name='equipamiento.parlantesCantidad'}}</td>
          <td>{{> afQuickField name='equipamiento.parlantesEstado'}}</td>
        </tr>
        <tr>
          <td>Micrófono</td>
          <td>{{> afQuickField name='equipamiento.microfonoCantidad'}}</td>
          <td>{{> afQuickField name='equipamiento.microfonoEstado'}}</td>
        </tr>
        <tr>
          <td>Coches de carga</td>
          <td>{{> afQuickField name='equipamiento.cochesCargaCantidad'}}</td>
          <td>{{> afQuickField name='equipamiento.cochesCargaEstado'}}</td>
        </tr>
        <tr>
          <td>Hieleras (coolers)</td>
          <td>{{> afQuickField name='equipamiento.hielerasCantidad'}}</td>
          <td>{{> afQuickField name='equipamiento.hielerasEstado'}}</td>
        </tr>
        <tr>
          <td>Gavetas</td>
          <td>{{> afQuickField name='equipamiento.gavetasCantidad'}}</td>
          <td>{{> afQuickField name='equipamiento.gavetasEstado'}}</td>
        </tr>
        <tr>
          <td>Tachos de basura</td>
          <td>{{> afQuickField name='equipamiento.tachosBasuraCantidad'}}</td>
          <td>{{> afQuickField name='equipamiento.tachosBasuraEstado'}}</td>
        </tr>
        <tr>
          <td>Pizarras para exhibición de precios</td>
          <td>{{> afQuickField name='equipamiento.pizarrasCantidad'}}</td>
          <td>{{> afQuickField name='equipamiento.pizarrasEstado'}}</td>
        </tr>
        <tr>
          <td>Rótulos o banners de identificación</td>
          <td>{{> afQuickField name='equipamiento.rotulosCantidad'}}</td>
          <td>{{> afQuickField name='equipamiento.rotulosEstado'}}</td>
        </tr>
        <tr>
          <td>Escobas</td>
          <td>{{> afQuickField name='equipamiento.escobasCantidad'}}</td>
          <td>{{> afQuickField name='equipamiento.escobasEstado'}}</td>
        </tr>
        <tr>
          <td>Palas de basura</td>
          <td>{{> afQuickField name='equipamiento.palasBasuraCantidad'}}</td>
          <td>{{> afQuickField name='equipamiento.palasBasuraEstado'}}</td>
        </tr>
        <tr>
          <td>Trapeadores</td>
          <td>{{> afQuickField name='equipamiento.trapeadoresCantidad'}}</td>
          <td>{{> afQuickField name='equipamiento.trapeadoresEstado'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
</template>