<template name="nuevoCialco">
  {{#if Template.subscriptionsReady}}
    <div class="row animated fadeIn">
      <div class="col-xs-12">
        <div class="card card-top-buffer">
          <div class="card-body">
            {{#autoForm collection='Cialcos' id='insertCialcoForm' type='insert'}}
              <fieldset class="custom-fieldset">
                <legend class="custom-legend">Datos generales</legend>
                {{> afQuickField name='nombreCialco'}}
                <div class="row">
                  <div class="col-sm-6 col-md-8">{{> afQuickField name='diasFuncionamiento'}}</div>
                  <div class="col-sm-3 col-md-2">{{> afQuickField name='horaInicio' id='horaInicio' dateTimePickerOptions=timePickerOptions}}</div>
                  <div class="col-sm-3 col-md-2">{{> afQuickField name='horaFin' id='horaFin' dateTimePickerOptions=timePickerOptions}}</div>
                </div>
                {{> afQuickField name='reglamento'}}
                {{> afQuickField name='directiva'}}
                {{> afQuickField name='registroVentasProductor'}}
                {{> afQuickField name='sistemaVeedurias'}}
                {{> afQuickField name='montoEstimadoVentas'}}
                <div class="row">
                  <div class="col-sm-6 col-md-4">{{> afQuickField name='fechaResponsable.fechaLevantamientoDatos' datePickerOptions=datePickerDefaultOptions}}</div>
                  <div class="col-sm-6 col-md-8">{{> afQuickField name='fechaResponsable.nombreLevantadorDatos'}}</div>
                </div>
              </fieldset>
              <fieldset class="custom-fieldset">
                <legend class="custom-legend">Tipo de CIALCO</legend>
                {{> afQuickField name='tipo'}}
              </fieldset>
              <fieldset class="custom-fieldset">
                <legend class="custom-legend">Ubicación del CIALCO</legend>
                {{> ubicacion}}
              </fieldset>
              <!--<fieldset class="custom-fieldset">
                <legend class="custom-legend">Datos del representante del CIALCO</legend>
                <div class="row">
                  <div class="col-md-4">{{> afQuickField name='cedulaRepresentante' id='ciaCedulaRepresentante'}}</div>
                  <div class="col-md-8">{{> afQuickField name='nombreRepresentante' id='ciaNombreRepresentante'}}</div>
                </div>
                <div class="row">
                  <div class="col-md-4">{{> afQuickField name='telefonoFijoRepresentante'}}</div>
                  <div class="col-md-4">{{> afQuickField name='celularRepresentante'}}</div>
                  <div class="col-md-4">{{> afQuickField name='emailRepresentante'}}</div>
                </div>
              </fieldset>-->
              <fieldset class="custom-fieldset">
                <legend class="custom-legend">Propiedad del espacio en el que funciona el CIALCO</legend>
                {{> afQuickField name='tipoPropiedad'}}
                {{> afQuickField name='documentoPropiedad'}}
              </fieldset>
              <fieldset class="custom-fieldset">
                <legend class="custom-legend">Servicios con los que cuenta el CIALCO</legend>
                {{> afQuickField name='servicios'}}
              </fieldset>
              {{> infraestructura}}
              {{> equipamiento}}
              <fieldset class="custom-fieldset">
                <legend class="custom-legend">Tipos de productos que se comercializan en el CIALCO</legend>
                {{> afQuickField name='tiposProductosComercializan'}}
              </fieldset>
              <fieldset class="custom-fieldset">
                <legend class="custom-legend">Medios tradicionales de difusión</legend>
                <div class="row col-md-5 pull-left">
                  <table class="table table-striped table-condensed">
                    <thead>
                      <tr>
                        <th class="col-sm-2 col-md-2">Medio</th>
                        <th class="col-sm-3 col-md-3">Frecuencia</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Volantes</td>
                        <td>{{> afQuickField name='volantesFrecuencia'}}</td>
                      </tr>
                      <tr>
                        <td>Afiches o pósters</td>
                        <td>{{> afQuickField name='afichesFrecuencia'}}</td>
                      </tr>
                      <tr>
                        <td>Perifoneo</td>
                        <td>{{> afQuickField name='perifoneoFrecuencia'}}</td>
                      </tr>
                      <tr>
                        <td>Anuncios en el periódico</td>
                        <td>{{> afQuickField name='periodicoFrecuencia'}}</td>
                      </tr>
                      <tr>
                        <td>Cuñas en radio</td>
                        <td>{{> afQuickField name='radioFrecuencia'}}</td>
                      </tr>
                      <tr>
                        <td>Televisión</td>
                        <td>{{> afQuickField name='televisionFrecuencia'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </fieldset>
              <fieldset class="custom-fieldset">
                <legend class="custom-legend">Medios digitales de difusión</legend>
                <div class="row col-md-8 pull-left">
                  <table class="table table-striped table-condensed">
                    <thead>
                    <tr>
                      <th class="col-sm-2 col-md-2">Medio</th>
                      <th class="col-sm-3 col-md-3">Frecuencia</th>
                      <th class="col-sm-3 col-md-3">Enlace o dirección</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>Lista de distribución de correo electrónico</td>
                      <td>{{> afQuickField name='listaDistribucionFrecuencia'}}</td>
                      <td>{{> afQuickField name='listaDistribucion'}}</td>
                    </tr>
                    <tr>
                      <td>Página web</td>
                      <td>{{> afQuickField name='paginaWebFrecuencia'}}</td>
                      <td>{{> afQuickField name='paginaWeb'}}</td>
                    </tr>
                    <tr>
                      <td>Facebook</td>
                      <td>{{> afQuickField name='facebookFrecuencia'}}</td>
                      <td>{{> afQuickField name='facebook'}}</td>
                    </tr>
                    <tr>
                      <td>Twitter</td>
                      <td>{{> afQuickField name='twitterFrecuencia'}}</td>
                      <td>{{> afQuickField name='twitter'}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </fieldset>
              <!--<fieldset class="custom-fieldset">
                <legend class="custom-legend">Organizaciones que participan en el CIALCO</legend>
                {{> afQuickField name='numeroOrganizacionesParticipan'}}
                {{> afQuickField name='organizacionesCialco'}}
              </fieldset>-->
              {{> afQuickField name='observaciones'}}
              <button type='submit' class='btn btn-success'>GUARDAR</button>
            {{/autoForm}}
          </div>
        </div>
      </div>
    </div>
  {{else}}
    {{> spinner}}
  {{/if}}
</template>
